<div class="page-title"><h1>Watchlists</h1></div>
<div class="watchlists-list">
<% @users.each do |user| %>
<li><a href="/users/<%=user.username%>"><%= "#{user.username.capitalize}'s Watchlists" %></a></li>
<% end %>
</div>