@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

*{
  font-family: 'Titillium Web', sans-serif;
}

html {
  display: grid;
  justify-items: center;
  background: rgb(219, 231, 194);
}

body {
  margin: 0;
  width: 75%;
  box-sizing: border-box;
} 

nav {
  display: flex;
}

nav div {
  padding: 1rem;
}

nav div:hover {
  background-color: rgb(241, 241, 241);
}

main {
  margin: 1rem;
}

footer {
  grid-area: foot;
  position: absolute;
  bottom: 0;
}

#current-user {
  font-size: .90rem;
}

#flash-message {
  background-color: #f83e06;
  color: #ffffff;
  padding: 0 5px 0 5px;
  display: inline-block;
  margin-bottom: .5rem;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

#signup-login-box {
  padding-bottom: .5rem;
  display: flex;
  flex-direction: column;
  min-width: 20%;
  align-items: center;
}

#signup-login-box>div {
  border: 1px solid black;
  display: inline-block;
  margin-top: .5rem;
  min-width: 25%;
  max-width: 100%;
  text-align: center;
  box-shadow: black 1px;
}

#signup-login-box>div:hover {
  background-color: rgb(241, 241, 241);
}

input[type=submit] {
  margin-top: .5rem;
  background-color: rgb(219, 231, 194);
  text-decoration: none;
  color: inherit;
}

input[type=submit]:hover {
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}