@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

html {
  font-family: 'Titillium Web', sans-serif;
  display: grid;
  justify-items: center;
  background: rgb(219, 231, 194);
}

body {
  margin: 0;
  width: 75%;
  box-sizing: border-box;
} 

nav {
  display: flex;
}

nav div {
  padding: 1rem;
}

main {
  margin: 1rem;
}

footer {
  grid-area: foot;
  position: absolute;
  bottom: 0;
}

#current-user {
  font-size: .90rem;
}

#flash-message {
  background-color: #f83e06;
  border-color: #e93b06;
  color: #ffffff;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}