@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

*{
  font-family: 'Titillium Web', sans-serif;
}

html {
  display: grid;
  justify-items: center;
  background: rgb(219, 231, 194);
}

body {
  margin: 0;
  width: 75%;
  box-sizing: border-box;
 
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  background: rgb(219, 231, 194);
  width: 100%;
  z-index:1;
  /* display: inline-block; */
  /* overflow: hidden; */
}

nav div {
  padding: 1rem;
  background: rgb(219, 231, 194);
}

nav div:hover {
  background-color: rgb(241, 241, 241);
}

main {
  margin: 1rem;
  position: relative;
}

footer {
  grid-area: foot;
  position: sticky;
  display: block;
  bottom: 0;
  background: rgb(219, 231, 194);
  width: 100%;
}

#current-user {
  font-size: .90rem;
}

#flash-message {
  background-color: #f83e06;
  color: #ffffff;
  padding: 0 5px 0 5px;
  display: inline-block;
  margin-bottom: .5rem;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

#signup-login-box {
  padding-bottom: .5rem;
  display: flex;
  flex-direction: column;
  min-width: 20%;
  align-items: center;
}

#signup-login-box>div {
  border: 1px solid black;
  display: inline-block;
  margin-top: .5rem;
  min-width: 25%;
  max-width: 100%;
  text-align: center;
  box-shadow: black 1px;
}

#signup-login-box>div:hover {
  background-color: rgb(241, 241, 241);
}

input[type=submit] {
  margin-top: .5rem;
  background-color: rgb(219, 231, 194);
  text-decoration: none;
  color: inherit;
}

input[type=submit]:hover {
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}


.footnote {
  font-size: .75rem;
}

.watchlists-list {
  display: flex;
  flex-direction: column;
}

.watchlists-list li a:hover{
  background-color: rgb(241, 241, 241);
}

.watchlists-list li {
  padding-bottom: .25rem;
  display: inline;
}

#watchlist_stocks {
  height: 300px;
  width: 75px;
}

.stock-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stock-list-card {
  display: grid;
  grid-template-columns: repeat(2, /*minmax(200px,*/ 1fr));
  border: 3px solid black;
  margin-bottom: 5px;
  grid-column-gap: 5px;
  /* min-width: 500px; */
}

.stock-list-card-element.title {
  font-size: 1.3em;
  grid-column: 1 / 3;
  border-bottom: 2px solid black;
}


.stock-list-card-element {
  padding: .25rem;
}

.stock-list-card-element.main {
  grid-column: 1 / 2;
}


.stock-list-card-element.side {
  grid-column: 2 / 3;
}

div.page-title {
  position: sticky;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-auto-flow: row;
  top: 50px;
  z-index: 1;
  width: 100%;
  background: rgb(219, 231, 194);
}

.profile-edit {
  position:relative;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  border: 2px solid black;
  text-align: center;
  z-index: 1;
}

.profile-edit h3 {
  margin: 0;
  padding-left: .5rem;
  padding-right: .5rem;
  border-bottom: 1px solid black;
  background-color: black;
  color: white;
  display: inline;
}

.profile-edit div {
  display: inline;
}

.profile-edit>div:hover {
  background-color: rgb(241, 241, 241);
}

.profile-edit>div {
  padding: .25rem; 
}
h1 {
  display: inline;
}

.watchlist-info {
  border: 2px solid black;
  display: inline-block;
  margin: 0;
  margin-bottom: .5rem;
}

.watchlist-info:hover {
  background-color: rgb(241, 241, 241); 
}