<div class="page-title"><h1><%=@user.username.capitalize%>'s Watchlists</h1></div>
<% if @user == current_user %>
  <div class="profile-edit">
  <h3>Modify Profile</h3>
  <div><a href="/users/<%=@user.username%>/edit">Edit Username</a></div>
  <div><a href="/watchlists/new">Add Watchlist</a></div>
  </div>
<% end %>

<br>
<div class="watchlist-container">
<% if @user.watchlists.length != 0 %>
<% @user.watchlists.each do |watchlist| %>
<ul>
<li><a href="/watchlists/<%=watchlist.id%>"><%=watchlist.name%></a></li>
</ul>
<% end %>
<% end %>

</div>