<div class="container">
<h1>Stockbook</h1>
<main>Stockbook is a web application to help you track your stock portfolio performance and and see how your portfolio is performing compared to others.</main>

<% unless logged_in? %>
<div>
Signup or Login Below
<form action="/signup" method="get"><input type="submit" value="Signup"></form>
<form action="/login" method="get"><input type="submit" value="Login"></form>
</div>
</div>
<% end %>

